<div id="main">
    <p id="instructions">
        Enter the data for a set or copy it from Excel or some other
        spreadsheet.
    </p>
    <textarea id="set-data"></textarea>
    <div class="table">
        <div class="tr">
            <div class="td">
                <button id="import" class="unimplemented">Import</button>
            </div>
            <div class="td">
                <button id="cancel" class="unimplemented">Cancel</button>
            </div>
        </div>
    </div>
</div>
