#instructions {
    margin: 0dvh 1dvmin 1dvh;
    font-size: 2dvh;
    text-align: center;
}
#set-data {
    margin-left: 1dvmin;
    margin-right: 1dvmin;
    height: calc(100% - 5dvh - 11.2dvh);
    width: 98dvmin;
}
#menu {
    position: absolute;
    bottom: 0;
}
