/*Put your global styles here.  
* Individual components can be styled locatlly
*/

/* Add your global styles here */
/* Note you cannot use url's in this file, you must put those in the component's css file 
* or put a new css file in the assets directory and add it to the head element
* of the index.html file if you need them to be global.
*/
body {
    margin: 0;
}

div {
    min-width: 100%;
    min-height: 100%;
}

.unimplemented {
    background-color: #f00;
}
.unimplemented:hover {
    background-color: #b00;
}
.unimplemented:active {
    background-color: #700;
}
.back-burner {
    background-color: #f77;
}
.back-burner:hover {
    background-color: #b55;
}
.back-burner:active {
    background-color: #733;
}
table {
    min-width: 100%;
    min-height: 100%;
}
td {
    min-width: 50%;
}
button {
    min-height: 100%;
    min-width: calc(100% - 0.3vw * 2);
    font-size: 3vh;
    padding: 0.3vh;
    margin: 0.3vw;
    border: 0;
    border-radius: 0.6vh;
}
