/*Put your global styles here.  
* Individual components can be styled locatlly
*/

/* Add your global styles here */
/* Note you cannot use url's in this file, you must put those in the component's css file 
* or put a new css file in the assets directory and add it to the head element
* of the index.html file if you need them to be global.
*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.page {
    position: absolute;
    top: 10svh;
    bottom: 11.2svh;
}

div {
    min-width: 100%;
    /* min-height: fit-content; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 auto 1svh;
    width: fit-content;
    line-height: 100%;
}
h2 {
    font-size: 3svh;
    color: #55f;
}
h4 {
    color: gray;
}

.unimplemented {
    background-color: #f00 !important;
    cursor: auto;
}
.back-burner {
    opacity: 0.2;
    background-color: rgb(210, 158, 255) !important;
    cursor: auto;
}
button {
    cursor: pointer;
    min-height: 100%;
    min-width: calc(100% - 1.5svmin * 2);
    font-size: 5svmin;
    line-height: 5svh;
    overflow: hidden;
    padding: 1.5svh 1.5svmin;
    margin: 1.5svh 1.5svmin;
    border: 0.1svh;
    border-color: #fff0;
    border-style: solid;
    border-radius: 0.6svh;
    background-color: rgb(210, 158, 255);
}
button:hover {
    background-color: rgb(154, 108, 194);
}
button:active {
    background-color: rgb(123, 92, 151);
}

.td {
    min-width: 50%;
    float: left;
}
.colspan2 {
    min-width: 100%;
}
.tr {
    overflow: hidden;
}
