<div id="main" class="page">
    <p id="instructions">
        Enter the data for a <span id="type"></span> or copy it <br />
        from Excel or some other spreadsheet.
    </p>
    <textarea id="data"></textarea>
    <div class="table" id="menu">
        <div class="tr">
            <div class="td">
                <button id="import">Import</button>
            </div>
            <div class="td">
                <button id="cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
