#instructions {
    margin: 0svh 1svmin 1svh;
    font-size: 2svh;
    text-align: center;
}
#data {
    margin-left: 1svmin;
    margin-right: 1svmin;
    height: calc(100% - 5svh - 11.2svh);
    width: 98svmin;
}
#menu {
    position: absolute;
    bottom: 0;
}
