<div id="main-menu" class="page table">
    <div class="tr">
        <div class="td">
            <button id="new-group" class="unimplemented">New Group</button>
        </div>
        <div class="td">
            <button id="new-set" class="back-burner">New Set</button>
        </div>
    </div>
    <div class="tr">
        <div class="td">
            <button id="edit-group" class="back-burner">Edit Group</button>
        </div>
        <div class="td">
            <button id="edit-set" class="back-burner">Edit Set</button>
        </div>
    </div>
    <div class="tr">
        <div class="td colspan2">
            <button id="import-set">Import Set</button>
        </div>
    </div>
    <div class="tr">
        <div class="td">
            <button id="import-all" class="unimplemented">Import All</button>
        </div>
        <div class="td">
            <button id="export-all" class="unimplemented">Export All</button>
        </div>
    </div>
    <div class="tr">
        <div class="td">
            <button id="practice-group" class="unimplemented">
                Practice Group
            </button>
        </div>
        <div class="td">
            <button id="practice-set" class="unimplemented">
                Practice Set
            </button>
        </div>
    </div>
    <div class="tr">
        <div class="td">
            <button id="group-cards" class="unimplemented">
                Group Flashcards
            </button>
        </div>
        <div class="td">
            <button id="set-cards" class="unimplemented">Set Flashcards</button>
        </div>
    </div>
    <div class="tr">
        <div class="td">
            <button id="delete-group" class="back-burner">Delete Group</button>
        </div>
        <div class="td">
            <button id="delete-set" class="back-burner">Delete Set</button>
        </div>
    </div>
</div>
