<table style="margin-top: 75px">
    <tr>
        <td><button id="new-group" class="unimplemented">New Group</button></td>
        <td><button id="new-set" class="unimplemented">New Set</button></td>
    </tr>
    <tr>
        <td>
            <button id="edit-group" class="unimplemented">Edit Group</button>
        </td>
        <td><button id="edit-set" class="unimplemented">Edit Set</button></td>
    </tr>
    <tr>
        <td colspan="2">
            <button id="import-set" class="unimplemented">Import Set</button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="import-all" class="unimplemented">Import All</button>
        </td>
        <td>
            <button id="export-all" class="unimplemented">Export All</button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="practice-group" class="unimplemented">
                Practice Group
            </button>
        </td>
        <td>
            <button id="practice-set" class="unimplemented">
                Practice Set
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="group-cards" class="unimplemented">
                Group Flashcards
            </button>
        </td>
        <td>
            <button id="set-cards" class="unimplemented">Set Flashcards</button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="delete-group" class="unimplemented">
                Delete Group
            </button>
        </td>
        <td>
            <button id="delete-set" class="unimplemented">Delete Set</button>
        </td>
    </tr>
</table>
