<div id="main-menu" class="page table">
    <div class="tr">
        <div class="td">
            <button id="new-group" class="back-burner">New Group</button>
        </div>
        <div class="td">
            <button id="new-set" class="back-burner">New Set</button>
        </div>
    </div>
    <div class="tr">
        <div class="td">
            <button id="edit-group" class="back-burner">Edit Group</button>
        </div>
        <div class="td">
            <button id="edit-set" class="back-burner">Edit Set</button>
        </div>
    </div>
    <div class="tr">
        <div class="td">
            <button id="import-group">Import Group</button>
        </div>
        <div class="td">
            <button id="import-set">Import Set</button>
        </div>
    </div>
    <div class="tr">
        <div class="td">
            <button id="import-all">Import All</button>
        </div>
        <div class="td">
            <button id="export-all" onclick="download();">Export All</button>
        </div>
    </div>
    <div class="tr">
        <div class="td">
            <button id="practice-group">Practice Group</button>
        </div>
        <div class="td">
            <button id="practice-set">Practice Set</button>
        </div>
    </div>
    <div class="tr">
        <div class="td">
            <button id="group-cards">Group Flashcards</button>
        </div>
        <div class="td">
            <button id="set-cards">Set Flashcards</button>
        </div>
    </div>
    <div class="tr">
        <div class="td">
            <button id="delete-group" class="unimplemented">
                Delete Group
            </button>
        </div>
        <div class="td">
            <button id="delete-set" class="unimplemented">Delete Set</button>
        </div>
    </div>
</div>
