div {
    max-width: fit-content;
    margin: auto;
}
#header {
    position: fixed;
    top: 1svh;
    min-width: 100svw;
    min-height: 9svh;
    color: #000;
}
#title {
    min-width: auto;
    font-size: 3.5svh;
    font-style: italic;
    font-weight: bold;
    color: rgb(173, 78, 232);
}
#creator {
    min-width: auto;
    font-size: 2.5svh;
    text-align: center;
}
#page {
    min-width: 100svmin;
    min-height: 100svh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: calc((100svw - 100svmin) / 2);
    background-color: rgb(209, 218, 250);
}
#footer {
    background-color: #f865;
    min-width: 100svw;
    min-height: auto;
    max-height: fit-content;
    position: fixed;
    bottom: 0;
    left: 0;
}
