div {
    max-width: fit-content;
    margin: auto;
}
#header {
    color: #000;
    min-width: auto;
    margin-bottom: 20px;
}
#title {
    min-width: auto;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: #0b0;
}
#page {
    min-width: min(100vw, 100vh);
    position: fixed;
    top: 0;
    bottom: 0;
    left: calc((100vw - min(100vw, 100vh)) / 2);
    background-color: #8f55;
}
#footer {
    background-color: #f865;
    min-width: 100vw;
    min-height: auto;
    max-height: fit-content;
    position: fixed;
    bottom: 0;
    left: 0;
}
