#set {
    color: purple;
}

/* button {
    min-height: auto;
    margin-top: auto;
    margin-bottom: auto;
} */

#previous,
#next {
    min-width: 7svmin;
    min-height: 10svh;
    margin-top: calc((53.2svh - 10svh - 3svh - 0.2svh) / 2);
    color: #655193;
}

#practice,
#confident {
    min-width: 10svmin;
    min-height: 20svmin;
    margin-top: calc((53.2svh - 20svh - 3svh - 0.2svh) / 2);
}
#practice {
    color: red;
}
#confident {
    color: green;
}

#prompt,
#answer {
    min-width: 51svmin;
    min-height: 50svmin;
}

.td {
    /* float: none; */
    display: inline-block;
    min-width: fit-content;
}
.tr {
    height: 53.2svh;
}
