<div class="page">
    <h2 id="name">Flashcards</h2>
    <h3><span id="index"></span>/<span id="total"></span></h3>
    <h4>In set: <span id="set"></span></h4>
    <h2>&nbsp;<span id="star">★</span>&nbsp;</h2>
    <div class="tr">
        <div class="td">
            <button id="previous">🡀</button>
        </div>
        <div class="td">
            <button id="practice">✘</button>
        </div>
        <div class="td">
            <button id="prompt"></button>
        </div>
        <div class="td">
            <button id="answer"></button>
        </div>
        <div class="td">
            <button id="confident">✔</button>
        </div>
        <div class="td">
            <button id="next">🡂</button>
        </div>
    </div>
</div>
